#Suggestions-Container {
  border-top: 1px solid black;
}
#Suggestions-header span {
  margin: 0px 2px;
  font-size: 20px
}

#Suggestions {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  margin: 1em 0em;
}

@media (min-width: 600px) {
  #Suggestions {
    display: grid;
    grid-gap: 3em;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    margin: 2em 0em;
  }
}

@media (min-width: 960px) {
  #Suggestions {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;
  }
}