.button {
  border-radius: 100%;
  height: 2em;
  width: 2em;
  font-size: 20px;
  outline: none;
  background-color: #ffffff00;
  border: 0px none #ffffff00;
  color: rgb(250,250,250);
}

.button:hover {
  background-color: #000000;
}